<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />
    <title>ChatCord App</title>
</head>

<body>
    <div class="chat-container">
        <div class="chat-header">
            <h3><i class="fas fa-smile"></i> ChatCord</h3>
            <form>
                <button id="call-video" type="button" onclick="randum()" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><i class="fas fa-phone-volume"></i></button>
                <a href="/" class="btn btn-info btn-lg"><i class="fas fa-sign-out-alt"></i></a>
                <div class="video">

                </div>
            </form>
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content" style="color: rgb(0, 0, 0);">
                        <form action="/call">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Thực hiện gọi trong nhóm</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <label for="idroomcall">ID phòng</label>
                                <input type="text" name="idroomcall" id="idroomcall" class="form-contro" required />
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info"> Call </button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="chat-main">
            <div class="chat-sidebar">
                <h3><i class="fas fa-comments"></i> Room Name:</h3>
                <h2 id="room-name"></h2>
                <h3><i class="fas fa-users"></i> Users</h3>
                <ul id="users"></ul>
            </div>
            <div class="chat-messages"></div>
        </div>
        <div class="chat-form-container form-group">
            <form id="chat-form" enctype="multipart/form-data">
                <input id="msg" type="text" class="form-control" placeholder="Enter Message" autocomplete="off" />
                <input id="imageSelector" type="file" name="file" class="inputfile" multiple/>
                <label for="imageSelector" class="btn btn-info btn-lg"><i class="far fa-image"></i></label>
                <button type="submit" id="btnSend" class="btn btn-info btn-lg"><i class="fas fa-paper-plane"></i> Send</button>
            </form>
        </div>
    </div>
    <script>
        function randum() {
            var randomString = function(length) {

                var text = "";

                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for (var i = 0; i < length; i++) {

                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                }

                return text;
            }

            // random string length
            var random = randomString(10);

            // insert random string to the field
            var elem = document.getElementById("idroomcall").value = random;

        };
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js" integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>